/* pokemon colors */

.color-grass {
    color: #73A9AD !important;
}

.background-grass {
    background-image: linear-gradient(45deg, #73A9AD, #90C8AC) !important;
    /*background-color: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%) !important;*/
}

.background-move-grass {
    background-color: #73A9AD !important;
}

.color-poison {
    color: #7F669D !important;
}

.background-poison {
    background-image: linear-gradient(45deg, #7F669D, #BA94D1) !important;
}

.background-move-poison {
    background-color: #7F669D !important;
}

.color-fire {
    color: #e66d6d !important;
}

.background-fire {
    background-image: linear-gradient(45deg, #e66d6d, #fdaaaa) !important;
}

.background-move-fire {
    background-color: #e66d6d !important;
}

.color-flying {
    color: #53CDE2 !important;
}

.background-flying {
    background-image: linear-gradient(45deg, #53CDE2, #adf0fc) !important;
}

.background-move-flying {
    background-color: #53CDE2 !important;
}

.color-water {
    color: #709FB0 !important;
}

.background-water {
    background-image: linear-gradient(45deg, #709FB0, #A7C5EB) !important;
}

.background-move-water {
    background-color: #709FB0 !important;
}

.color-bug {
    color: #9EB23B !important;
}

.background-bug {
    background-image: linear-gradient(45deg, #9EB23B, #d2e075) !important;

}

.background-move-bug {
    background-color: #9EB23B !important;
}

.color-normal {
    color: #afaf67 !important;
}

.background-normal {
    background-image: linear-gradient(45deg, #afaf67, #dfdfae) !important;
}

.background-move-normal {
    background-color: #afaf67 !important;
}

.color-electric {
    color: #f4ba1a !important;
}

.background-electric {
    background-image: linear-gradient(45deg, #f4ba1a, #ffe56f) !important;

}

.background-move-electric {
    background-color: #f4ba1a !important;
}

.color-ground {
    color: #CFB997 !important;
}

.background-ground {
    background-image: linear-gradient(45deg, #CFB997, #FAD6A5) !important;

}

.background-move-ground {
    background-color: #CFB997 !important;
}

.color-fairy {
    color: #FFA1CF !important;
}

.background-fairy {
    background-image: linear-gradient(45deg, #FFA1CF, #FFCACA) !important;

}

.background-move-fairy {
    background-color: #FFA1CF !important;
}

.color-fighting {
    color: #c74b45 !important;
}

.background-fighting {
    background-image: linear-gradient(45deg, #c74b45, #d37671) !important;

}

.background-move-fighting {
    background-color: #c74b45 !important;
}

.color-psychic {
    color: #D989B5 !important;
}

.background-psychic {
    background-image: linear-gradient(45deg, #D989B5, #FFADBC) !important;
}

.background-move-psychic {
    background-color: #D989B5 !important;
}

.color-rock {
    color: #8d918c !important;
}

.background-rock {
    background-image: linear-gradient(45deg, #8d918c, #c4c7c2) !important;

}

.background-move-rock {
    background-color: #8d918c !important;
}

.color-steel {
    color: #a6a6b4 !important;
}

.background-steel {
    background-image: linear-gradient(45deg, #a6a6b4, #d9d9eb) !important;
}

.background-move-steel {
    background-color: #a6a6b4 !important;
}

.color-ice {
    color: #bbd2f3 !important;
}

.background-ice {
    background-image: linear-gradient(45deg, #bbd2f3, #d8ecec) !important;
}

.background-move-ice {
    background-color: #bbd2f3 !important;
}

.color-ghost {
    color: #7055aa !important;
}

.background-ghost {
    background-image: linear-gradient(45deg, #7055aa, #a793e2) !important;
}

.background-move-ghost {
    background-color: #7055aa !important;
}

.color-dragon {
    color: #7f56dd !important;
}

.background-dragon {
    background-image: linear-gradient(45deg, #7f56dd, #ad94f7) !important;
}

.background-move-dragon {
    background-color: #7f56dd !important;
}

.color-dark {
    color: #6e365b !important;
}

.background-dark {
    background-image: linear-gradient(45deg, #6e365b, #b96ea0) !important;
}

.background-move-dark {
    background-color: #6e365b !important;
}