/* pokemon colors */

.color-grass {
    color: #73A9AD !important;
}

.background-grass {
    background-image: linear-gradient(45deg, #73A9AD, #8ad1ae) !important;
}

.background-move-grass {
    background-color: #6da597 !important;
}

.color-poison {
    color: #7F669D !important;
}

.background-poison {
    background-image: linear-gradient(45deg, #7F669D, #d194c2) !important;
    /*background-image: linear-gradient(45deg, #7F669D, #d7beec) !important;*/
}

.background-move-poison {
    background-color: #7f6d94 !important;
}

.color-fire {
    color: #e66d6d !important;
}

.background-fire {
    background-image: linear-gradient(45deg, #e66d6d, #fcb5a3) !important;
}

.background-move-fire {
    background-color: #dd6b63 !important;
}

.color-flying {
    color: #96caff !important;
}

.background-flying {
    background-image: linear-gradient(45deg, #96caff, #cbd9ff) !important;
}

.background-move-flying {
    background-color: #94bbdf !important;
}

.color-water {
    color: #709FB0 !important;
}

.background-water {
    background-image: linear-gradient(45deg, #709FB0, #bcbfee) !important;
}

.background-move-water {
    background-color: #6d91af !important;
}

.color-bug {
    color: #9EB23B !important;
}

.background-bug {
    background-image: linear-gradient(45deg, #9EB23B, #d5e095) !important;

}

.background-move-bug {
    background-color: #aac12a !important;
}

.color-normal {
    color: #afaf67 !important;
}

.background-normal {
    background-image: linear-gradient(45deg, #afaf67, #ddddc2) !important;
}

.background-move-normal {
    background-color: #aaaa83 !important;
}

.color-electric {
    color: #fdc11d !important;
}

.background-electric {
    background-image: linear-gradient(45deg, #fdc11d, #f7e389) !important;

}

.background-move-electric {
    background-color: #fabe3c !important;
}

.color-ground {
    color: #a67439 !important; /*a67439*/
}

.background-ground {
    background-image: linear-gradient(45deg, #af883f, #d3c99c) !important;

}

.background-move-ground {
    background-color: #a1955e !important; /*a67439*/
}

.color-fairy {
    color: #ec8fe6 !important;
}

.background-fairy {
    background-image: linear-gradient(45deg, #ec8fe6, #FFCACA) !important;

}

.background-move-fairy {
    background-color: #e68cae !important;
}

.color-fighting {
    color: #bb5544 !important;
}

.background-fighting {
    background-image: linear-gradient(45deg, #bb5544, #f38e74) !important;

}

.background-move-fighting {
    background-color: #bb5e5a !important;
}

.color-psychic {
    color: #D989B5 !important;
}

.background-psychic {
    background-image: linear-gradient(45deg, #D989B5, #ffadad) !important;
}

.background-move-psychic {
    background-color: #d184ae !important;
}

.color-rock {
    color: #8d918c !important;
}

.background-rock {
    background-image: linear-gradient(45deg, #8d918c, #cfcfcf) !important;

}

.background-move-rock {
    background-color: #969696 !important;
}

.color-steel {
    color: #a6a6b4 !important;
}

.background-steel {
    background-image: linear-gradient(45deg, #a6a6b4, #d9d9eb) !important;
}

.background-move-steel {
    background-color: #9e9eb1 !important;
}

.color-ice {
    color: #74cfc0 !important;
}

.background-ice {
    background-image: linear-gradient(45deg, #74cfc0, #cbe9e9) !important;
}

.background-move-ice {
    background-color: #79c7ba !important;
}

.color-ghost {
    color: #7055aa !important;
}

.background-ghost {
    background-image: linear-gradient(45deg, #5e55aa, #806c94) !important;
}

.background-move-ghost {
    background-color: #585399 !important;
}

.color-dragon {
    color: #5670be !important;
}

.background-dragon {
    background-image: linear-gradient(45deg, #5670be, #ad94f7) !important;
}

.background-move-dragon {
    background-color: #5766b9 !important;
}

.color-dark {
    color: #4e4545 !important;
}

.background-dark {
    background-image: linear-gradient(45deg, #4e4545, #b96ea0) !important;
}

.background-move-dark {
    background-color: #66415a !important;
}