body {
    font-family: Rubik !important;
    letter-spacing: -1px;
    background-image: url(./img/background4.jpg);
    color: white !important;
    /*background-size: cover;*/
}

a {
    text-decoration: none !important;
}


h5 {
    font-size: 22px !important;
    font-weight: 400 !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 7.5vh;
    background-color: white;
    border-bottom: 1px solid rgb(219, 219, 219);
}

footer {
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.96);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 32px;
}

.logo-animation {
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

@keyframes spinning {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.disappear {
    animation: disappear-animation 3.4s forwards;
    margin-right: -118.5px;
    /* find better solution - maybe 10/80/10 width */
}

@keyframes disappear-animation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.search-bar-container {
    width: 40%;
    display: flex;
    align-items: center;
    background-color: rgb(235, 235, 235);
    padding: 8px 16px;
    border-radius: 8px;
}

.magnifying-glass {
    height: 16px;
    padding-right: 16px;
}

.search-bar {
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: 0px solid;
}

.favorite-container {
    display: flex;
}

.favorite {
    height: 32px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: lightgray;
    width: 15.3%;
    min-width: 165px;
    min-height: 225px;
    /*height: 256px;*/
    border-radius: 10px;
}

.content-sprite {
    width: 140px;
    height: 140px;
}

#selected-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 45vh;
    border-radius: 10px;
}

.sub-selected-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#sprite {
    width: 192px;
    height: 192px;
    transform: scaleX(-1);
}

.d-none {
    display: none;
}

.text-align-center {
    text-align: center;
}

.font-14px {
    font-size: 14px;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.h-32p {
    height: 32px;
}

.padding {
    padding-left: 14%;
    padding-right: 14%;
}

.p-05 {
    padding: 0.125rem;
}

.py-05 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.margin {
    margin-left: 12%;
    margin-right: 12%;
}

.ms-0_05 {
    margin-left: 0.05rem !important;
}

.mb-05 {
    margin-bottom: 0.125rem;
}

.mb-1_15 {
    margin-bottom: 1.15rem;
}

.mb-2_75 {
    margin-bottom: 2.75rem;
}

.mb-n0_2 {
    margin-bottom: -0.2rem;
}

.mb-n2_3 {
    margin-bottom: -2.3rem;
}

.mt-n1_5 {
    margin-top: -1.5rem;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.color-fire {
    color: #ff9a9e;
}

.background-white {
    background-color: white;
}

.background-fire {
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.background-fire-attack {
    background-color: #ff9a9e;
}

.border-fire {
    border: 1px solid #ff9a9e;
}

.attacks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sub-attacks {
    display: flex;
    justify-content: space-evenly;
}

.border-radius-6p {
    border-radius: 6px;
}

.btn-white {
    width: 40%;
    border-radius: 16px !important;
    --bs-btn-color: #ff9a9e !important;
    --bs-btn-bg: white !important;
    --bs-btn-hover-color: #ff9a9e;
    --bs-btn-hover-bg: #f5f5f5;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #ff9a9e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}

.properties-container {
    display: flex;
    justify-content: center;
    width: 90%;
}

.sub-properties {
    text-align: center;
    width: 33.33%;
}

.border-left-right {
    border-left: 1px solid white;
    border-right: 1px solid white;
}