/* pokemon colors */

.color-grass {
    color: #73A9AD;
}

.background-grass {
    background-image: linear-gradient(45deg, #73A9AD, #90C8AC);
    /*background-color: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);*/
}

.background-move-grass {
    background-color: #73A9AD;
}

.border-grass {
    border: 1px solid #73A9AD;
}

.color-poison {
    color: #7F669D;
}

.background-poison {
    background-image: linear-gradient(45deg, #7F669D, #BA94D1);
    /*background-image: linear-gradient(45deg, #937DC2, #d989d9);*/
}

.background-move-poison {
    background-color: #7F669D;
}

.border-poison {
    border: 1px solid #7F669D;
}

.color-fire {
    color: #e66d6d;
}

.background-fire {
    background-image: linear-gradient(45deg, #e66d6d, #fdaaaa);
}

.background-move-fire {
    background-color: #e66d6d;
}

.border-fire {
    border: 1px solid #e66d6d;
}

.color-flying {
    color: #53CDE2;
}

.background-flying {
    background-image: linear-gradient(45deg, #53CDE2, #adf0fc);
}

.background-move-flying {
    background-color: #53CDE2;
}

.border-flying {
    border: 1px solid #53CDE2;
}

.color-water {
    color: #709FB0;
}

.background-water {
    background-image: linear-gradient(45deg, #709FB0, #A7C5EB);
}

.background-move-water {
    background-color: #709FB0;
}

.border-water {
    border: 1px solid #709FB0;
}

.color-bug {
    color: #9EB23B;
}

.background-bug {
    background-image: linear-gradient(45deg, #9EB23B, #d2e075);

}

.background-move-bug {
    background-color: #9EB23B;
}

.border-bug {
    border: 1px solid #9EB23B;
}

.color-normal {
    color: #afaf67;
}

.background-normal {
    background-image: linear-gradient(45deg, #afaf67, #dfdfae);
}

.background-move-normal {
    background-color: #afaf67;
}

.border-normal {
    border: 1px solid #afaf67;
}

.color-electric {
    color: #f4ba1a;
}

.background-electric {
    background-image: linear-gradient(45deg, #f4ba1a, #ffe56f);

}

.background-move-electric {
    background-color: #f4ba1a;
}

.border-electric {
    border: 1px solid #f4ba1a;
}

.color-ground {
    color: #CFB997;
}

.background-ground {
    background-image: linear-gradient(45deg, #CFB997, #FAD6A5);

}

.background-move-ground {
    background-color: #CFB997;
}

.border-ground {
    border: 1px solid #CFB997;
}

.color-fairy {
    color: #FFA1CF;
}

.background-fairy {
    background-image: linear-gradient(45deg, #FFA1CF, #FFCACA);

}

.background-move-fairy {
    background-color: #FFA1CF;
}

.border-fairy {
    border: 1px solid #FFA1CF;
}

.color-fighting {
    color: #c74b45;
}

.background-fighting {
    background-image: linear-gradient(45deg, #c74b45, #d37671);

}

.background-move-fighting {
    background-color: #c74b45;
}

.border-fighting {
    border: 1px solid #c74b45;
}

.color-psychic {
    color: #D989B5;
}

.background-psychic {
    background-image: linear-gradient(45deg, #D989B5, #FFADBC);
}

.background-move-psychic {
    background-color: #D989B5;
}

.border-psychic {
    border: 1px solid #D989B5;
}

.color-rock {
    color: #8d918c;
}

.background-rock {
    background-image: linear-gradient(45deg, #8d918c, #c4c7c2);

}

.background-move-rock {
    background-color: #8d918c;
}

.border-rock {
    border: 1px solid #8d918c;
}

.color-steel {
    color: #a6a6b4;
}

.background-steel {
    background-image: linear-gradient(45deg, #a6a6b4, #d9d9eb);
}

.background-move-steel {
    background-color: #a6a6b4;
}

.border-steel {
    border: 1px solid #a6a6b4;
}

.color-ice {
    color: #bbd2f3;
}

.background-ice {
    background-image: linear-gradient(45deg, #bbd2f3, #d8ecec);
}

.background-move-ice {
    background-color: #bbd2f3;
}

.border-ice {
    border: 1px solid #bbd2f3;
}

.color-ghost {
    color: #7055aa;
}

.background-ghost {
    background-image: linear-gradient(45deg, #7055aa, #a793e2);
}

.background-move-ghost {
    background-color: #7055aa;
}

.border-ghost {
    border: 1px solid #7055aa;
}

.color-dragon {
    color: #7f56dd;
}

.background-dragon {
    background-image: linear-gradient(45deg, #7f56dd, #ad94f7);
}

.background-move-dragon {
    background-color: #7f56dd;
}

.border-dragon {
    border: 1px solid #7f56dd;
}

.color-dark {
    color: #7f56dd;
}

.background-dark {
    background-image: linear-gradient(45deg, #6e365b, #b96ea0);
}

.background-move-dark {
    background-color: #7f56dd;
}

.border-dark {
    border: 1px solid #7f56dd;
}